@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --text-color: #495057;
    --button-color: #ffa94d;
    --button-hover-color: #cc873e;
    --light-gray: #f8f9fa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app {
    /* background-color: antiquewhite; */
    width: 80vw;
    margin: 10rem auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.4rem;
    align-items: start;
    background-color: blueviolet;
    padding: 5rem;
}

.friends {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    gap: 1.2rem;
    list-style: none;
    background-color: antiquewhite;
}

/* ****************************** */
/* friend CSS */
/* ****************************** */
.friend {
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 2rem;
    padding: 1rem;
}

.img {
    height: 5rem;
    border-radius: 10rem;
    display: inline-block;
    align-self: center;
}

.profile-data {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    align-self: center;
}

h2 {
    font-size: 1.8rem;
}

h1 {
    font-size: 2.4rem;
    text-align: center;
}

.btn {
    display: inline-block;
    height: 3rem;
    width: 10rem;
    align-self: center;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--button-color);
    color: var(--text-color);
    font-weight: 600;
    text-transform: lowercase;
    cursor: pointer;
    transition: all 0.6s;
}

.btn:hover {
    background-color: var(--button-hover-color);
    color: var(--light-gray);
    transform: scale(1.05);
}

.owe {
    color: #e03131;
}

.owed {
    color: #2f9e44;
}

/* ****************************** */
/* Add riend CSS */
/* ****************************** */
.form {
    background-color: antiquewhite;
    padding: 2rem 5rem;
}

.form-el {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 1.2rem;
}

.btn-container {
    padding-right: 3rem;
    display: flex;
    justify-content: flex-end;
}
